.container {
  display: grid;
  grid-template-columns: [debutTableau] 2fr [finColonne1 debutColonne2] 2fr [finTableau];
  grid-template-rows: [debutLignes] 2fr [finLigne1 debutLigne2] 1fr [finLignes];
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 100%;
  justify-content: stretch;
  margin: 0rem 0rem;
  max-width: 100%;
}
.appointmentProposed {
  grid-column: debutTableau / finColonne1;
  grid-row: debutLignes / finLigne1;
  height: 100%;
}
.appointmentBooked {
  grid-column: debutColonne2/ finTableau;
  grid-row: debutLignes / finLigne1;
  height: 100%;
}
.validationBox {
  grid-column: debutTableau / finTableau;
  grid-row: debutLigne2 / finLignes;
  height: 100%;
}
