<div>
  <span>{{practitioner?.name[0].text}} ({{practitioner?.identifier[0].value}})</span>
</div>
<div style="display: flex; flex-direction: row;">
  <div class="container">
    <app-calendar class="componentCalendar appointmentProposed" [listAppointments]="listAppointmentsATraiter"
      [titre]="titreListeAtraiter" [loading]="loading" (selectedAppointment)="getSelectedAppointment($event)">
    </app-calendar>
    <app-calendar class="componentCalendar appointmentBooked" [listAppointments]="listAppointmentsAVenir"
      [titre]="titreListeValide" [loading]="loading"></app-calendar>
    <app-validation-rdv class="card validationBox" [appointment]="appointmentSelected"
      (refreshListes)="refreshListes()">
    </app-validation-rdv>
  </div>
  <div>
    <app-fullcalendar *ngIf="listAppointmentsAVenir"[listAppointmentsPending]="listAppointmentsATraiter" [listAppointmentsBooked]="listAppointmentsAVenir" ></app-fullcalendar>
  </div>
</div>
