
<div>
    <span>{{practitioner?.name[0].text}} ({{practitioner?.identifier[0].value}})</span>
</div>
<div style="display: inline-flex;">
    <app-calendar class="componentCalendar"  [listAppointments]="listAppointmentsATraiter" [titre]="titreListeAtraiter" [loading]="loading" (selectedAppointment)="getSelectedAppointment($event)"></app-calendar>
    <app-calendar class="componentCalendar" [listAppointments]="listAppointmentsAVenir" [titre]="titreListeValide" [loading]="loading"></app-calendar>
</div>
<app-validation-rdv [appointment]="appointmentSelected"></app-validation-rdv>
