<div class="loading" *ngIf="!loading">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-progress-spinner-color" strokeWidth="8" fill="#EEEEEE"></p-progressSpinner>
</div>
<div class="listeAppointments" *ngIf="loading">
    <p-orderList [value]="listAppointments" [listStyle]="{'height':'250px'}" (onSelectionChange)="selectItem($event)" header={{titre}}>
        <ng-template let-item pTemplate="item">
            <div class="item-item">
                <div class="item-list-detail" style="font-size:small">
                    <i *ngIf="item.status=='pending'" class="pi pi-exclamation-triangle"></i><i *ngIf="item.status=='booked'" class="pi pi-check-circle"></i>&nbsp;<span class="p-mb-2"><b>{{item.start | date:'medium'}},{{item.participant[0].actor.display}}</b></span>
                    <span class="product-category"><br/>{{item.description}}</span>
                </div>
            </div>
        </ng-template>
    </p-orderList>
</div>
