<p-card *ngIf="appointment.participant!==undefined && appointment.participant!==null">
  <div >
    <div>
      <label>Rendez-vous du {{appointment.start | date:'medium'}} au {{appointment.end | date:'medium'}}</label>
    </div>
    <div>
      <label>Patient : {{appointment.participant[0].actor.display}}</label>
    </div>
    <div>
      <p>{{appointment.description}}</p>
    </div>
    <button pButton pRipple type="button" label="Refuser" class="p-button-outlined p-button-danger" (click)="refuseAppointment()"></button>
    <button pButton pRipple type="button" label="Valider" class="p-button-success" (click)="validateAppointment()"></button>
  </div>
</p-card>
